<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503683626836-5ka3kkhv6b6v83vvgmqr16vvvnls9992.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503683626836-5ka3kkhv6b6v83vvgmqr16vvvnls9992</string>
	<key>API_KEY</key>
	<string>AIzaSyBKI5dKYuB18fY89Xb3Ohm5CZnTUctf6QI</string>
	<key>GCM_SENDER_ID</key>
	<string>503683626836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.widgetSample</string>
	<key>PROJECT_ID</key>
	<string>zzsample</string>
	<key>STORAGE_BUCKET</key>
	<string>zzsample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503683626836:ios:e0f46a8facfaa6d646fac1</string>
</dict>
</plist>